* {
    padding: 0;
    margin: 0;
}

h3 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#sectViewItem{
    display: flex;
    margin-top: 70px;
    width: 100%;
    margin-left: 10px;    
}

.left_content {
    width: 40%;
}

.left_content>img {
    width: 100%;
    height: 300px;
}

.img_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow-x: auto; 
}

.img_container img {
    width: 30%;    
    margin-left: 20px;
}

.img_container img:nth-child(1) {
    margin-left: 0;
}

.right_content {
    width: 60%;
    margin-left: 10px;
    margin-right: 15px;
    line-height: 0.8rem;    
}

.right_content p {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.right_content span {
    font-weight: normal;
    font-size: 1.3rem;
}


.description {    
    height: 250px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;    
    overflow-y: hidden;  
}

.product_Review{
    height: 250px;
    margin-bottom: 20px;
    cursor: pointer;
}

.comment {
    max-width: 100%;
    background-color: hsla(0, 0%, 100%, 0.479);
    padding: 20px;
}

@media screen and (max-width: 680px) {
    #sectViewItem {
        max-width: 100%;
        display: block;        
    }

    .left_content>img {        
        height: 300px;
    }    

    .left_content,
    .right_content {
        width: 100%;
    }

    .img_container {
        display: flex;
    }

    .img_container .img {
        margin-left: 10px;

    }

    .right_content {
        margin: 10px 0px;
    }

    .description {
        margin: 20px 10px;
        padding: 10px;
    }    
}